.formInput form{
    margin-left: 100px;
    margin-right: 100px;
}

.filled {
    margin-right: 920px;
}

.shorten {
    margin-right: 600px;
}

.pindah {
    margin-left: 200px;
    margin-top: -59px;
}

.controltime {
    margin-left: -13px;
}

.upper {
    margin-top: 5px;
}
